/* CSS Reset */

* {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  outline: none;
  text-decoration: none;
  font-family: inherit;
  box-sizing: border-box;
}

ol, 
ul, 
li {
  list-style: none;
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a img {
  border: none;
}

button,
a {
  cursor: pointer; 
  color: inherit;
}

textarea {
  resize: none;
}

/* CSS Reset End */


.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

:root {
  --primary: #666;
  --secondary: #fff;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  width: 100%;
  height: 80px;
  padding: 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: var(--secondary);
  color: var(--primary);
}

header .material-icons {
  font-size: 36px;
}

header button {
  width: 60px;
  height: 60px;

  border-radius: 50px;
  background-color: var(--primary);
  color: var(--secondary);
}
